// TODO: make adaptive

.table {
  margin: 80px 0 30px 0;
  border-radius: 16px;
  padding: 30px;
  background: #fff;
  width: 100%;
}

.table-body {
  width: 100%;

  th {
    height: 56px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }

  &__checkbox {
    padding: 100px;
    accent-color: #d1d1dc;

    &:checked {
      accent-color: #1b1b1f;

    }

  }

  &__head {
    background: #dbdbea;
  }

  &__row {
    border-bottom: 1px solid #ddd;
    height: 63px;
  }

  &__cell {
    padding: 10px;
    text-align: left;
    vertical-align: middle;

    &--header {
      font-weight: bold;
    }
  }

  &__row:hover {
    background-color: #f9f9f9;
  }
}

.table-search {
  display: flex;
  justify-content: space-between;
  min-height: 85px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  &__update {
    border-radius: 10px;
    border: 1px solid #9e9e9e;
    width: 140px;
    height: 56px;

  }

  &__title {
    font-family: Gotham Pro, serif;
    font-weight: 700;
    font-size: 32px;
    color: #111827;
    padding: 20px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.table-filter {
  display: flex;
  min-height: 85px;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  &__item {
    flex: 1 1 400px;
  }
}


.table-body-wrapper {
}