// TODO: make adaptive

.table {
  margin-top: 80px;
  border-radius: 16px;
  padding: 30px;
  width: 1632px;
  height: 836px;
  background: #fff;
}

.table-body {
  width: 100%;
  th {
    height: 56px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }
  &__head {
    background: #dbdbea;
  }

  &__row {
    border-bottom: 1px solid #ddd;
    height: 63px;
  }

  &__cell {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    &--header {
      font-weight: bold;
    }
  }

  &__row:hover {
    background-color: #f9f9f9;
  }
}

.table-search {
  display: flex;
  justify-content: space-between;
  min-height: 85px;
  width: 100%;
  flex-wrap: wrap;

  &__title {
    font-family: Gotham Pro, serif;
    font-weight: 700;
    font-size: 32px;
    color: #111827;
    margin-top: 10px;
  }
  &__container{
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.table-filter {
  display: flex;
  min-height: 85px;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  &__item{
    max-width: 500px;
    min-width: 300px;
    flex: 1;
  }
}


.table-body-wrapper {
  height: 550px;
}