@use  "reset";
@use  "header";


@font-face {
  font-family: 'Gotham Pro';
  src: url('../assets/fonts/gothampro_bold.ttf') format('truetype');
  font-weight: 700;
}

// move to other file container.scss
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  &__vertical {
    flex-direction: column;
  }
  &__center {
    justify-content: center;
  }
}